.sect1{ width: 100%; height: 600px; border: solid 1px transparent; background-image: url("../img/S6/c-s1.jpg"); background-size: 100% 100%;}
.sect1-C{ width: 50%; height: 100%; }
.sect1-C h3{ font-family: 'PaulSlabSoft-Medium'; font-size: 52px; text-align: center; color:#005c97; margin-top:400px; letter-spacing: 1.5px;}

.subr{ width: 290px; height: 5px; background-color: #ff458c; margin: -7px auto 0 auto;}

.sect2{ width: 100%; height: 650px; background-image: url("../img/S6/c-s2.jpg"); background-size: 100% 100%;}

.sect2-A{width: 60%; height: 20%; margin:auto; padding-top: 40px; margin-bottom: 20px;}
.sect2-B{width: 60%; height: 80%; margin:auto;}

.h3txt{ font-family: 'PaulSlabSoft-Medium'; color: #005c97; text-align: center; font-size: 28px; padding:0 100px;}

#name{ width: 100%; height: 45px; border-radius: 4px; margin-bottom: 15px;}
#mail{ width: 100%; height: 45px; border-radius: 4px; margin-bottom: 15px;}
#asunto{width: 100%; height: 45px; border-radius: 4px; margin-bottom: 15px;}
#mensaje{width: 100%; height: 250px; border-radius: 4px;}

input, textarea{ font-family: 'Montserrat-Medium'; font-size: 16px; outline: none; border: none;}
input{ padding: 8px; }
textarea{ padding: 10px; }

.sect3{ width: 100%; height: 400px; background-image: url("../img/S6/c-s3.jpg"); background-size: 100% 100%; padding-top: 30px;}

.socialB{ width: 420px; height: 80px; margin: 20px auto 20px auto; border-radius: 10px; font-size: 24px; cursor: pointer;}
.b1{width: 80%; height: 100%; float: left; padding-top: 25px; padding-right: 20px;}
.b2{width: 20%; height: 100%; float: left; padding-top: 13px; padding-right: 20px;}

.SFace{ background-color: #1b6fc9; }
.Swats{ background-color: #33bc48; }
.txtSocial{ font-family: 'Montserrat-Medium'; text-align: right; color: #fff; }
.linksocial{ text-decoration: none; display: block;}

.iconSoc{position: absolute;}