*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	/* header menu y logo */
header {
	width: 100%;
	height: 70px;
}
.img-logo {
	float: left;
	display: block;
	width: 25%;
	height: 100%;
}
.img-logo img{
	display: block;
	margin: auto;
	height: 90%;
	padding: 6px 10px;

}
nav{
	display: block;
	float: left;
	width: 75%;
	height: 100%;
	font-size: 13px;
}
/* botones del menu */
ul{
	width: 100%;
	height: 100%;
}
li{
	list-style: none;
	float: left;
	width: 16.66%;
	height: 100%;
}

header nav ul li a{
	display: block;
	width: 100%;
	height: 100%;
	text-transform: uppercase;
	color: #005c97;
	text-align: center;
	text-decoration: none;
	padding-top: 25px;
	font-family: 'Montserrat-Bold';
}
header nav ul li a:hover{
	transition: .15s;
	background: #aedfff;
}
.activo{
	border-bottom: 8px inset #1C6EA4;
}
/* FIN header menu y logo */
footer{
	width: 100%;
	height: 400px;
	background-color: #005c97;
	color: #fff;
	font-size: 18px;
	font-family: 'Montserrat-Light';
	font-size: 13px;
}
.ft1{
	width: 100%;
	height: 80%;
}
.ft2{
	width: 100%;
	height: 20%;
	text-align: center;

}
.ft2-1{
	width: 60%;
	height: 100%;
	margin:auto;
	padding-top: 15px;
}
.ft1-1{
	width: 40%;
	height: 100%;
	float: left;
}
.ft1-1-1{
	width: 80%;
	height: 100%;
	float: right;

}
.ft1-1-1b{
	width: 80%;
	height: 80%;
	margin-top: 16%;
}
.ft1-1-1b h4{
	text-align: center;
	font-size: 22px;
}
.ft1-1-1bimg{
	width: 100%;
	height: 35%;
}
.ft1-1-1bimg img{
	width: 60%;
}
.ft1-1-1btxt{
	width: 100%;
	height: 25%;
}
.ft1-1-1bsoc{
	width: 100%;
	height: 40%;
}
.ft1-1-1bsoc img{
	width: 30px;
	margin:15px 15px 0 15px;
}
.socialiconC{
	width: 80%;
	height: 75%;
	margin: auto;
}
.ft1-2{
	width: 30%;
	height: 100%;
	float: left;
}
.ft1-2-1{
	width: 100%;
	height: 80%;
	margin-top: 17%;
}
.ft1-2-1b{
	width: 80%;
	height: 100%;
	margin:auto;
}
.ft1-2-1b h4{
	color: #fff;
	margin-bottom: 5px;
	font-size: 18px;
}
.ft1-2-1b a{
	color: #fff;
	display: block;
	width: 100%;
	text-decoration: none;
	padding: 3px;
	margin-bottom: 5px;
}
.ft1-2-1b a:hover{
	background-color: #0088df;
	border-radius: 5px;

}
.ft1-3{
	width: 30%;
	height: 100%;
	float: left;
}
.ft1-3-1{
	width: 80%;
	height: 80%;
	margin-top: 17%;
}
.ft1-3-1 h4{
	color: #fff;
	margin-bottom: 5px;
	font-size: 18px;
}
.ft1-3-1 p{
	padding: 3px;
	margin-bottom: 5px;
}